/* ---- Yogesh J assignment file ---- */
body{
    background-color: #FBFBFB;
}
.head-bar{
    position: relative;
    display: block;
    background-color: #CE0505;
    height: 60px;
    margin-bottom: 20px;
}
.logo{
    position: absolute;
    left: 100px;
    top: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    display: inline-block;
    color: #EB2929;
    background-color: white;
    text-align: center;
}
.buttons{
    position: absolute;
    display:inline-block;
    top: 14px;
    left: 1095px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1{
    background: transparent;
    border: none;
    color: white;
}
.btn2{
    background: transparent;
    border: white solid 1px;
    padding: 8px;
    color: white;
    border-radius: 5px;
}
.head-content{
    display: block;
    margin-top: 20px;
    margin-left: 130px;
    padding-top: 10px;
    color: #192F60;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serifs;
    font-weight: bolder;
}
.side-bar{
    display: inline-block;
    width: 240px;
    height: 635px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 20px;
    margin-left: 130px;
    vertical-align: top;
}
.filter{
    color: #192F60;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 10px;
    text-align: left;
    font-size: 18px;
}
.filter-location{
    color: #192F60;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
}
.filter-search{
    margin: 10px;
}
.filter-search-box{
    width: 200px;
    height: 30px;
    border: 2px solid #8C96AB;
    border-radius: 3px;
    color: #8C96AB;
}
.cuisine{
    margin-top: 20px;
    margin-left: 13px;
    color: #192F60;
    font-family: arial;
    font-size: 14px;
    font-weight: 600;
}
.cuisine-check{
    margin-left: 9px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #8C96AB;
    line-height: 29px;
}
.cost{
    margin-top: 20px;
    margin-left: 13px;
    color:#192F60 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 29px;
}
.cost-radio{
    margin-left: 9px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #8C96AB;
    line-height: 29px;
}
.sort{
    margin-left: 13px;
    margin-top: 20px;
    color:#192F60 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 29px;
}
.sort-radio{
    margin-left: 9px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #8C96AB;
    line-height: 29px;
}

/*
.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: red;
  }*/


.result-bar{
    display: inline-block;
    width: 800px;
    height: 500px;
    margin-top: 20px;
    margin-left: 60px;
}
.result-one{
    margin-bottom: 30px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;

    position: relative;
}
.result-one-left{
    position: absolute;
    top: 25px;
    left: 35px;
}


.one-right-head{
    position: absolute;
    top: 35px;
    left: 195px;
    width: 100%;
    font-size: 25px;
    color: #192F60;
    font-family: arial;
    font-weight: 700;
}
.one-right-mid{
    position: absolute;
    top: 75px;
    left: 200px;
    width: 100%;
    font-size: 15px;
    color: #192F60;
    font-family: arial;
    font-weight: 500;
}
.one-right-bottom{
    position: absolute;
    top: 105px;
    left: 200px;
    width: 100%;
    font-size: 15px;
    color: #636F88;
    font-family: arial;
    font-weight: 500;
}
.result-one-foot{
    position: absolute;
    top: 180px;
    left: 45px;
    border-top: 2px solid #DEDFE5;
    width: 85%;
    padding-top: 35px;
}
.one-foot-left{
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   color: #636F88;
   font-size: 15px;
}
.one-foot-right{
    
    padding-left: 45px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #636F88;
    font-size: 15px;

}

.result-two{
    position: relative;

    margin-bottom: 30px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
}
.result-two-left{
    position: absolute;
    top: 25px;
    left: 35px;
}


.two-right-head{
    position: absolute;
    top: 35px;
    left: 195px;
    width: 100%;
    font-size: 25px;
    color: #192F60;
    font-family: arial;
    font-weight: 700;
}
.two-right-mid{
    position: absolute;
    top: 75px;
    left: 200px;
    width: 100%;
    font-size: 15px;
    color: #192F60;
    font-family: arial;
    font-weight: 500;
}
.two-right-bottom{
    position: absolute;
    top: 105px;
    left: 200px;
    width: 100%;
    font-size: 15px;
    color: #636F88;
    font-family: arial;
    font-weight: 500;
}
.result-two-foot{
    position: absolute;
    top: 180px;
    left: 45px;
    border-top: 2px solid #DEDFE5;
    width: 85%;
    padding-top: 35px;
}
.two-foot-left{
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   color: #636F88;
   font-size: 15px;
}
.two-foot-right{
    
    padding-left: 45px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #636F88;
    font-size: 15px;

}
.pages{
    display: block;
    margin-left: 230px;
    letter-spacing: 8px;
}
.page0,.page1,.page2,.page3,.page4,.page5,.pageN{
    
    border: 2px solid #8C96AB;
    background-color: #FFFFFF;
    color: #8C96AB;
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 8px;
    display: inline-block;
    height: 30px;
    width: 30px;
}
